@font-face {
  font-family: "Astro";
  src: url("./asset/font/Astro/astro.ttf");
}
body {
  background-image: url("/asset/fond-ecran-abstrait-nebuleuse-ultra-detaille-9.jpg");
  max-width: 100vw;
  max-height: 100vh;
}
h1 {
  text-align: center;
  color: antiquewhite;
  font-family: "Astro";
  font-size: 50px;
  color: #ffffff;

  text-shadow:
    1px 3px 0 #969696,
    1px 13px 5px #aba8a8;
}

#canvas {
  width: 90%;
  transform: translateX(100px);
  box-shadow: 5px 5px 5px 5px whitesmoke;
}
